root = true

[*]
end_of_line = LF
charset = UTF-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4

[Gemfile,Rakefile,*.{gemspec,rb}]
indent_style = space
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 2
